
    <tr id="<%= dom_id friend %>">
      <td><%= friend.name %></td>
      <td><%= friend.address %></td>
      <td><%= friend.hobbies %></td>
      <td>
        <%= link_to "Show", friend, class:"btn btn-info" %>
      </td>
    </tr>
